html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mobile first styles go here */

/* Desktop styles go here */
body {
  font-family: "Lexend Mega", sans-serif;
  background-color: black;
  color: rgb(170, 170, 170);
}

main {
  position: absolute;
  top: 90px;
  display: flex;
  flex-wrap: wrap;
  /* height: 850px; */
  justify-content: space-between;
  align-content: space-between;
  margin: 1em 10%;
  /* height: 120vh; */
}
.about {
  height: 84%;
  width: 90%;
}

.work {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  z-index: 5;
  color:rgb(240, 240, 240);
  opacity: 0.9;
}
#construction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.work h3 {
  text-align: justify;
  font-weight: 500;
}

#constr {
  background-image: url("../img/Under-Construction.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: absolute;
  height: 250px;
  opacity: 0.85;
}
#info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#git {
  position: relative;
  top: 50px;
  width: 50%;
}
#email {
  position: relative;
  top: 80px;
}
#one {
  background-image: url("../img/html5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  /* position: absolute; */
}
#h2, #h22, #h222, #h2222 {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
h2 {
  margin: 0.4em 0;
}

#h2 a, #h22 a, #h222 a, #h2222 a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

#two {
  background-image: url("../img/css3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#three {
  background-image: url("../img/js1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#four {
  background-image: url("../img/react.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.active {
  color: #7FC2EB;
  font-weight: 900;
}

canvas {
  position: absolute;
  top: 100px;
  background: black;
  margin-left: 5%;
}

#jsfoot, #infofooter {
  position: absolute;
  bottom: 1px;
  margin-left: 5%;
}

.footer {
  position: absolute;
  bottom: 20px;
  margin-left: 5%;
}

