html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Mobile first styles go here */


/* Desktop styles go here */
body {
  font-family: "Lexend Mega", sans-serif;
  background-color: black;
  color: rgb(170, 170, 170);
}

.main {
  position: relative;
  top: 90px;
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 10%;
}

.work {
  min-height: 300px;
  width: 370px;
  max-width: 800px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  z-index: 5;
  color:rgb(240, 240, 240);
  opacity: 0.9;
  margin: 10px 10px;
}

#h2, #h22, #h222, #h2222 {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
h2 {
  margin: 0.4em 0;
}
#h2 a, #h22 a, #h222 a, #h2222 a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

#one, #two, #three, #four {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#one {
  background-image: url("../img/html5.jpg");
}
#two {
  background-image: url("../img/css3.jpg");
}
#three {
  background-image: url("../img/js1.jpg");
}
#four {
  background-image: url("../img/react.png");
}

.active {
  color: #7FC2EB;
  font-weight: 900;
}

canvas {
  position: absolute;
  top: 100px;
  background: black;
  margin-left: 10%;
}

#jsfoot, .footer {
  position: absolute;
  bottom: 0;
  margin-left: 10%;
}

.footer-index {
  position: relative;
  bottom: -120px;
  margin-left: 10%;
  padding-bottom: 20px;
}

